{% extends "base.html" %}
{% block title %}Wishlist{% endblock %}

{% block content %}
    <h1>My Wishlist</h1>
    {% if wishlist_items %}
        <div class="row">
            {% for item in wishlist_items %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        {% if item.car.image_urls %}
                            <img src="{{ url_for('static', filename='images/' + item.car.image_urls[0]) }}" class="card-img-top" alt="{{ item.car.title }}" style="height: 200px; object-fit: cover;">
                        {% else %}
                             <img src="{{ url_for('static', filename='images/default.jpg') }}" class="card-img-top" alt="Default Image" style="height: 200px; object-fit: cover;">
                        {% endif %}
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">{{ item.car.title }}</h5>
                            <p class="card-text">Price: ${{ item.car.price }}</p>
                            <a href="{{ url_for('cars.car', car_id=item.car.id) }}" class="btn btn-primary mt-auto">View Details</a>
                             <form action="{{ url_for('cars.remove_from_wishlist', car_id=item.car.id) }}" method="POST">
                                <button type="submit" class="btn btn-warning mt-3">Remove from Wishlist</button>
                            </form>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Your wishlist is empty.</p>
    {% endif %}
{% endblock %}